/* Wildcard selector to override default settings of the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    color: rgb(2, 60, 2);
    padding: 1rem;
    font-family: Roboto;
    background-color: #fffff;
}

.displayNone {
    display: none;
}

/* Welcome section */

h1 {
    font-family: Lato, sans-serif;
    text-align: center;
}

h1 > div {
}

/* Game section */

.gameSection {
    
}

#choicesDiv {
    padding-top: 2rem;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    gap: 5rem;
}

.choices {
   display: flex;
   flex-direction: column;

.choiceButton {
    background-color: lightgreen;
    min-width: 75px;
    min-height: 75px;
    border-radius: 50px;
    font-size: 300%;
    /* From CSS scan (https://getcssscan.com/css-box-shadow-examples) */
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 1px, rgb(31, 193, 27) 0px 0px 0px 2px, rgb(255, 217, 19) 0px 0px 0px 3px, rgb(255, 156, 85) 0px 0px 0px 4px, rgb(255, 85, 85) 0px 0px 0px 5px;
} 

.fakelabel {
    padding-top: 0.5rem;
    text-align: center;
}
/* Display results section */

.results-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5rem;
}

.choicesRevealed {
    flex-basis: 1;
    padding-left: 5rem;
    padding-right: 5rem;
}