

body {
    color: darkgreen;
    padding: 1rem;
    font-family: Roboto;
    box-sizing: border-box;
}

/* Welcome section */

h1 {
    font-family: Lato, sans-serif;
    text-align: center;
}

h1 > div {
}

/* Game section */

.gameSection {
    
}

#choicesDiv {
    padding-top: 2rem;
    width: 90%;
    display: flex;
    justify-content: center space-around;
    gap: 2rem;
    flex-wrap: wrap;
}

.choices {
   border-style: 1 0 1 px gray;
   flex-basis: 1;
}

.choiceButton {
    background-color: lightgreen;
    min-width: 150px;
    min-height: 150px;
    border-radius: 20px;
    box-shadow: 0 1 1 gray;
} 

.displayNone {
    display: none;
}